.u2-header {
    background-color: #5ca616;
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
}

.u2-header img {
    width: 9%;
    margin-right: 10px;
}

.u2-header a {
    color: white;
}

.u2-sidebar {
    position: fixed;
    min-width: 340px;
    width: 35%;
    height:100%;
    border:none;
    top: 0;
    right:0;
    z-index: 1000;
    background:#FFF;
    padding: 10px;
    border-left: 2px solid #EEE;

}

.u2-sidebar .tab-pane {
    height:600px;
    overflow: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.u2-sidebar h4 {
    margin-top: 20px;
}

.u2-preview {
    max-height: 420px;
    overflow: auto;
}

.u2-row{
    border-bottom: 1px dotted #EEE;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.u2-row .u2-source{
    font-weight: bold;
}

.u2-row .u2-comments{
    font-style: italic;
    font-family: time;
    margin-top: 10px;
    margin-left: 15px;
}
.u2-row .u2-username, .u2-row .u2-date{
    font-size: 11px;
    text-align:right;
    display:inline;
}
.u2-row .u2-date{
    color: gray;
    padding-left: 5px;
    padding-right: 10px;
}

.u2-show-content {
    text-align:right;
    font-size: 11px;
    margin-left: 15px;
    color: rgb(75, 180, 71);
    cursor: pointer;
}

.u2-content {
    padding: 5px;
    margin-left: 15px;
}

.popover {
    max-height: 400px;
    overflow: auto;
    width:500px;
    overflow-x: hidden;
    max-width: 100%;
}
